.receipe-grid {
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}

.receipe-info-grid {
  gap: 1.85rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'image'
  'prep-info';
}

.receipe-instruction-grid {
  gap: 1.85rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'ingredients'
  'instructions';
}

.receipe-info-grid > :nth-child(1) {
  grid-area: image;
}
.receipe-info-grid > :nth-child(2) {
  grid-area: prep-info;
}

.receipe-instruction-grid > :nth-child(1) {
  grid-area: ingredients;
}

.receipe-instruction-grid > :nth-child(2) {
  grid-area: instructions;
}

.receipe-header-info{
  gap: 1.2rem;
  grid-auto-rows: 14%;
  grid-template-areas: 
  'save-button'
  'prep-time'
  'serves';
}

.receipe-header-info > :nth-child(1) {
  grid-area: save-button;
}

.receipe-header-info > :nth-child(2) {
  grid-area: prep-time;
}

.receipe-header-info > :nth-child(3) {
  grid-area: serves;
}

@media (min-width: 700px) {
  .receipe-info-grid {
    grid-template-areas:
    'image image prep-info';
  }

  .receipe-instruction-grid {
    grid-template-areas: 
    'ingredients instructions instructions instructions';
  }

  .receipe-instruction-grid > :first-child {
    border-right: 1px solid var(--darkreader-border);
  }

  .receipe-header-info {
    grid-template-areas:
    'save-button'
    'prep-time'
    'serves';
  }
}

@media (max-width: 700px) {
  .default-list > li {
    border-bottom: 2px solid var(--darkreader-border);
  }

  .receipe-header-info {
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    'save-button'
    'prep-time serves';
  }

  .receipe-header-info > :nth-child(2) {
    border-right: 2px solid var(--darkreader-border);
  }
}
