:root {
  --dark-background-color: #181a1b;
  --dark-text-color: #e8e6e3;
  --darkreader-border: #363b3d;
}

body {
  background-color: var(--dark-background-color);
}

p, h, a, li, span, label {
  color: var(--dark-text-color);
}

.container {
  margin: auto;
  max-width: 1280px;
}

img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
}

.field_with_errors label {
  color: red;  
}

.field_with_errors input, .field_with_errors textarea {
  border: 2px solid red; 
}

@media (max-width: 700px) {
  body { padding: 1rem; }
}

@import "utility";
@import "header";
@import "navigation";
@import "typography";
@import "button";
@import "receipes/style";
