// :root {
//   --dark-background-color: #181a1b;
//   --dark-text-color: #e8e6e3;
//   --darkreader-border: #363b3d;
// }
//
// body {
//   background-color: var(--dark-background-color);
// }
//
// p, h1, h2, h3, h4, h5, a, li, span, label {
//   color: var(--dark-text-color);
// }
//
// .container {
//   margin: auto;
//   max-width: 1280px;
// }
//
//
// .grid {
//   display: grid;
// }
//
// .field_with_errors label {
//   color: red;  
// }
//
// .field_with_errors input, .field_with_errors textarea {
//   border: 2px solid red; 
// }
//
// @media (max-width: 700px) {
//   body { padding: 1rem; }
// }
//
// @import "utility";
// @import "header";
// @import "navigation";
// @import "typography";
// @import "button";
@import "govuk-frontend/dist/govuk/all";
@import "receipes/style";

.app-template {
  .govuk-width-container {
    @include govuk-width-container(1200px);
  }
}

.govuk-service-navigation {
  &__container {
    justify-content: space-between;
  }

  &__link {
    font-weight: bold;
  }
}

.no-underline {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
