<% content_for :title, "New receipe" %>

<h1>New receipe</h1>

<%= render "form", receipe: @receipe, url: receipes_path, method: :post %>

<br>

<div>
  <%= link_to "Back to receipes", receipes_path %>
</div>
